<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="page-top">
        <header class="header container">
            <a class="logo" href="#">
                <img src="images/logo.png" alt="Mw">
            </a>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="#">The Products</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact me</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="container top-info">
            <h1>Join the colors.</h1>
            <p>There are only 3 colors, 10 digits</p>
            <button class="btn" type="button">Join now</button>
        </div>
    </div>
    <div class="centereTxtContent container">
        <h2>There are only 3 colors, 10 digits</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
            with desktop publishing software like Aldus PageMaker including release versions of Lorem Ipsum. It has survived not only five centuries.</p>
        <div class="bgPic">
            <div class=" pic pic1"></div>
            <div class=" pic pic2"></div>
            <div class=" pic pic3"></div>
            <div class=" pic pic4"></div>
            <div class=" pic pic5"></div>
        </div>
    </div>
    <div class="columnsContent">
        <div class="container">
            <div class="column columns1">
                <div class="head">
                    <div class="ic1"></div>
                    <h3>SEO Optimized</h3>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
                <a class="plus" href="#"></a>
            </div>
            <div class="column columns2">
                <div class="head">
                    <div class="ic2"></div>
                    <h3>Responsive</h3>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
                <a class="plus" href="#"></a>
            </div>
            <div class="column columns3">
                <div class="head">
                    <div class="ic3"></div>
                    <h3>Cloud Services</h3>
                </div>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make</p>
                <a class="plus" href="#"></a>
            </div>
        </div>
    </div>
    <div class="blackBgContent">
        <div class="mainBgPic container">
            <h3>Music is all sudden much more colorful.</h3>
            <button class="btn btn2" type="button">View more</button>
        </div>
    </div>
    <footer>
        <div class="dashed"></div>
        <div class="container">
            <p>Copyright &copy; 2013 Css Author</p>
        </div>
    </footer>

</body>

</html>