<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container clearfix">
            <a class="logo" href="#">
                <img src="images/logo.png" alt="Create">
            </a>
            <nav class="main-nav">
                <ul>
                    <li>
                        <a href="#">home</a>
                    </li>
                    <li>
                        <a href="#">products</a>
                    </li>
                    <li>
                        <a href="#">services</a>
                    </li>
                    <li>
                        <a href="#">our work</a>
                    </li>
                    <li>
                        <a href="#">contacts</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="mainPic">
        <div class="lastNews">
            <div class="container">
                <p> <span>lastest news </span> | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus</p>
            </div>
        </div>
    </div>
    <div class="mainContent">
        <div class="ourServ container">
            <div class="clearfix">
                <h2 class="h2-black"> our services <span>blazrobar.com</span></h2>
                <img src="images/photo-1.jpg" alt="">
                <p>Lorem, ipsum dolor sit Lorem ipsum dolor sit amet. amet Lorem ipsum dolor sit amet. consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing. Iusto, modi. Animi eaque, dolor inventore esse ullam cupiditate quae
                    corrupti id facere provident consequuntur voluptatibus nemo dolorem modi! Fugiat, saepe cum?</p>
                <p>Lorem ipsum dLo Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, dicta? Lorem ipsum dolor sit amet. rem ipsum dolor sit amet. olor sit amet consectetur, lorem 9 adipisicing elit. Ex facilis, explicabo, soluta quas aperiam
                    excepturi mollitia quidem, labore accusantium sapiente at deserunt numquam recusandae dolores.
                </p>
            </div>
            <p>Lorem ipsum dolor sit Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae, doloremque? amet consectetur adipisicing elit. Earum dolor ea sapiente suscipit expedita eaque natus laboriosam totam, architecto porro quidem, rerum,
                corporis quibusdam voluptate odio excepturi exercitationem esse beatae.</p>
        </div>
        <div class="container">
            <hr>
        </div>
        <div class="uniqueD container">
            <div class="clearfix">
                <h2 class="h2-black"> unique design <span>shoe house</span></h2>
                <img src="images/photo-2.jpg" alt="">
                <p>Lorem, ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, laudantium. amet consectetur Lorem ipsum dolor sit amet, consectetur adipisicing. adipisicing elit. Iusto, modi. Animi eaque, dolor inventore esse ullam
                    cupiditate quae Lorem, ipsum dolor. Lorem, ipsum dolor. corrupti id facere provident consequuntur voluptatibus nemo dolorem modi! Fugiat, saepe cum?</p>
                <p class="uniqueP">Lorem ipsum Lorem ipsum dolor sit amet. dolor sit amet consectetur, Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic praesentium blanditiis explicabo nemo aliquam consectetur? adipisicing elit. Ex facilis, explicabo, soluta
                    quas aperiam excepturi mollitia quidem, labore accusantium sapiente at deserunt numquam recusandae dolores.</p>
            </div>
            <p>Lorem ipsum Lorem ipsum dolor sit. Lorem, ipsum. dolor sit amet consectetur adipisicing elit. Earum dolor ea sapiente suscipit expedita eaque natus laboriosam totam, architecto porro quidem, rerum, corporis quibusdam voluptate odio excepturi
                exercitationem esse beatae.</p>
            <div class="clearfix">
                <img src="images/photo-3.jpg" alt="">
                <p>Lorem ipsum dolor Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempora. sit amet consectetur adipisicing elit. Ratione at est ut iusto, iure animi. Ratione ipsum reiciendis fugit officia, nam magni laborum tempore maiores
                    deserunt corrupti unde ipsa distinctio error facere at harum veritatis.</p>
                <p>Lorem ipsum dolor Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, tempora. sit amet consectetur adipisicing elit. Adipisci non hic sint ab doloremque voluptatum rem velit esse ipsum cum molestias, consectetur, aliquam
                    dolores, accusamus eaque maiores. Laudantium, temporibus dolore ducimus natus aut illum quas?</p>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <span>Copyright 2012 Footer here</span>
            <div class="icons">
                <a href="#" class="fb"></a>
                <a href="#" class="tw"></a>
                <a href="#" class="rss"></a>
            </div>
        </div>
    </footer>
</body>

</html>