<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header">
                <a class="logo" href="#">
                    <img src="images/logo.png" alt="logo">
                </a>
                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="#">about</a>
                        </li>
                        <li>
                            <a href="#">how it works</a>
                        </li>
                        <li>
                            <a href="#">services</a>
                        </li>
                        <li>
                            <a href="#">faq</a>
                        </li>
                        <li>
                            <a href="#">contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="mainContent">
        <div class="container">
            <div class="fitnessFirst clearfix">
                <div class="fitnessLeft1">
                    <span>it’s all about</span>
                    <h2>fitness first</h2>
                    <div class="bg"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a href="#">Read More</a>
                </div>
                <div class="fitnessRight1">
                    <img class="mainContentImg-1" src="images/photo-1.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="fitnessSecond clearfix">
                <div class="fitnessLeft2">
                    <img class="mainContentImg-2" src="images/photo-2.jpg" alt="">
                </div>
                <div class="fitnessRight2">
                    <span>love your</span>
                    <h2>your body</h2>
                    <div class="bg"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    <a href="#">Read More</a>
                </div>

            </div>
        </div>
    </div>
    <div class="columns">
        <div class="container">
            <div class="content">
                <div class="resBg"></div>
                <h3>Resources</h3>
                <p>Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration and </p>
                <a href="#">Explore more &#8594;</a>
            </div>
            <div class="content">
                <div class="trBg"></div>
                <h3>Training & Funding</h3>
                <p>Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups.</p>
                <a href="#">Browse training &#8594;</a>
            </div>
            <div class="content">
                <div class="contentBg"></div>
                <h3>Training & Funding</h3>
                <p>Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. Easily manage your inspiration.</p>
                <a href="#">Connect now &#8594;</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="lBlock">
                <h2>Resources</h2>
                <p>Easily manage your inspiration and work-in-progress by dragging images into projects and sharable client groups. work-in-progress by dragging images into projects and sharable client group</p>
            </div>
            <div class="rBlock">
                <span>Stay in touch</span>
                <a class="fb" href="#"></a>
                <a class="tw" href="#"></a>
                <a class="youtube" href="#"></a>
                <a class="in" href="#"></a>
            </div>
        </div>
    </footer>
</body>

</html>