body {
    font-family: arial, sans-serif;
    margin: 0;
    color: #737373;
    font-style: 15px;
    line-height: 1.3;
    background-color: #fff;
}

.container {
    max-width: 962px;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix::after {
    content: '';
    clear: both;
    display: block;
}

.header {
    background: #2e3b4e;
    padding: 33px 0 18px 0;
}

.logo {
    float: left;
}

.main-nav ul {
    list-style: none;
    text-align: right;
}

.main-nav li {
    display: inline-block;
    margin-left: 70px;
}

.main-nav a {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.mainContent {
    background: #a2ca28;
    padding: 83px 0 55px 0;
}

.mainContentImg-1 {
    float: right;
}

.fitnessFirst {
    background: #fff;
}

.fitnessLeft1 {
    float: left;
    width: 37.5%;
    text-align: center;
}

.fitnessFirst span {
    display: block;
    color: #fd634e;
    font-size: 14px;
    margin-top: 55px;
    text-transform: uppercase;
}

.fitnessFirst h2 {
    font-size: 35px;
    color: #a2ca28;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
}

.bg {
    background-image: url(images/icon-kaply.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 50px;
    height: 20px;
    margin: 0 auto;
}

.fitnessFirst p {
    margin: 20px 0 35px 0;
}

.fitnessFirst a {
    color: #a2ca28;
    margin-bottom: 70px;
}

.fitnessRight1 {
    float: right;
}


/*2 block*/

.fitnessLeft2 {
    float: left;
}

.mainContentImg-2 {
    float: left;
}

.fitnessSecond {
    background: #fff;
}

.fitnessRight2 {
    float: right;
    width: 37.5%;
    text-align: center;
}

.fitnessRight2 span {
    color: #fd634e;
    font-size: 14px;
    margin-top: 55px;
    display: block;
    text-transform: uppercase;
}

.fitnessRight2 h2 {
    font-size: 35px;
    color: #a2ca28;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
}

.bg {
    background-image: url(images/icon-kaply.png);
    background-repeat: no-repeat;
    background-position: center top;
    width: 50px;
    height: 30px;
    margin: 0 auto;
}

.fitnessSecond p {
    margin: 20px 0 35px 0;
}

.fitnessRight2 a {
    color: #a2ca28;
    margin-bottom: 70px;
}


/* columns */

.columns {
    color: #fff;
    background: #a2ca28;
    padding-bottom: 55px;
    padding-top: 35px;
}

.content div {
    background-repeat: no-repeat;
    background-position: center top;
    width: 50px;
    height: 50px;
    vertical-align: top;
}

.resBg {
    background-image: url(images/icon-1.png);
}

.trBg {
    background-image: url(images/icon-2.png);
}

.contentBg {
    background-image: url(images/icon-3.png);
}

.content {
    color: #fff;
    background: #a2ca28;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.columns h3 {
    font-size: 24px;
}

.columns p {
    font-size: 14px;
    margin-top: 32px;
}

.columns a {
    text-decoration: none;
    color: #fff;
}

footer {
    background: #0d1119;
    padding-top: 62px;
    padding-bottom: 56px;
    overflow: hidden;
}

.lBlock {
    float: left;
    width: 35%;
}

.lBlock h2 {
    color: #fff;
    font-weight: normal;
    font-size: 15px;
}

.lBlock p {
    font-size: 14px;
}

.rBlock {
    float: right;
}

.rBlock span {
    display: block;
    margin-bottom: 10px;
}

footer a {
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

.fb {
    background: #2e3192 url(images/icon-fb.png) center no-repeat;
}

.tw {
    background: #00aeef url(images/icon-tw.png) center no-repeat;
}

.youtube {
    background: #ed3123 url(images/icon-youtube.png) center no-repeat;
}

.in {
    background: #171a8f url(images/icon-in.png) center no-repeat;
}